body {
    background-color: #1E5A69;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFA;
    padding: 0 8vw;
    box-shadow: 0 5vh black blur;
}

.menu ul {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul li:first-child {
    border-right: 2px solid black;
    margin-right: 2vw;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    padding: 1vh 2vw;
}

#signUp {
    background-color: #FFC85C;
    border-radius: 5px;
}


#frontPage {
    color: white;
    background-color: #1E5A69;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 8vw;
}

#frontPage article {
    width: 40%;
    height: auto;
}

#frontPage object {
    width: 45%;
    height: auto;
}

footer {
    background-color: #FEFEFA;
    height: 20vh;
}